<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABIRZf4oAlPIiU_yBEvsesj66Q35gyLdk</string>
	<key>GCM_SENDER_ID</key>
	<string>225978668955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabian.FirebaseTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-tutorial-d2f7a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-tutorial-d2f7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225978668955:ios:c0d3a15e90c4807734333e</string>
</dict>
</plist>