<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943745235209-utec9knfmm33k0sqclh774ctnp3bp3c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943745235209-utec9knfmm33k0sqclh774ctnp3bp3c2</string>
	<key>API_KEY</key>
	<string>AIzaSyAsVh7xIz1vlsc4Ko9p4l8a0sMS1GsrimU</string>
	<key>GCM_SENDER_ID</key>
	<string>943745235209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabian.Firebase-Demo-Chris</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-chris</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-chris.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943745235209:ios:2e8fa44ddbe8f34b83fbd8</string>
</dict>
</plist>